[submodule "modules/waf"]
	path = ardupilot/modules/waf
	url = https://github.com/ArduPilot/waf.git
[submodule "modules/gbenchmark"]
	path = ardupilot/modules/gbenchmark
	url = https://github.com/google/benchmark.git
[submodule "modules/mavlink"]
	path = ardupilot/modules/mavlink
	url = https://github.com/ArduPilot/mavlink
[submodule "gtest"]
	path = ardupilot/modules/gtest
	url = https://github.com/ArduPilot/googletest
[submodule "modules/ChibiOS"]
	path = ardupilot/modules/ChibiOS
	url = https://github.com/ArduPilot/ChibiOS.git
[submodule "modules/gsoap"]
	path = ardupilot/modules/gsoap
	url = https://github.com/ArduPilot/gsoap
[submodule "modules/DroneCAN/DSDL"]
	path = ardupilot/modules/DroneCAN/DSDL
	url = https://github.com/DroneCAN/DSDL.git
[submodule "modules/CrashDebug"]
	path = ardupilot/modules/CrashDebug
	url = https://github.com/ardupilot/CrashDebug
[submodule "modules/DroneCAN/pydronecan"]
	path = ardupilot/modules/DroneCAN/pydronecan
	url = https://github.com/DroneCAN/pydronecan
[submodule "modules/DroneCAN/dronecan_dsdlc"]
	path = ardupilot/modules/DroneCAN/dronecan_dsdlc
	url = https://github.com/DroneCAN/dronecan_dsdlc
[submodule "modules/DroneCAN/libcanard"]
	path = ardupilot/modules/DroneCAN/libcanard
	url = https://github.com/DroneCAN/libcanard
[submodule "modules/Micro-XRCE-DDS-Client"]
	path = ardupilot/modules/Micro-XRCE-DDS-Client
	url = https://github.com/ardupilot/Micro-XRCE-DDS-Client.git
	branch = master
[submodule "modules/Micro-CDR"]
	path = ardupilot/modules/Micro-CDR
	url = https://github.com/ardupilot/Micro-CDR.git
	branch = master
[submodule "modules/lwip"]
	path = ardupilot/modules/lwip
	url = https://github.com/ArduPilot/lwip.git
[submodule "ardupilot/modules/l8w8jwt"]
	path = ardupilot/modules/l8w8jwt
	url = https://github.com/GlitchedPolygons/l8w8jwt.git
[submodule "qgroundcontrol/src/GPS/Drivers"]
	path = qgroundcontrol/src/GPS/Drivers
	url = https://github.com/PX4/GpsDrivers.git
[submodule "qgroundcontrol/libs/mavlink/include/mavlink/v2.0"]
	path = qgroundcontrol/libs/mavlink/include/mavlink/v2.0
	url = https://github.com/mavlink/c_library_v2.git
[submodule "qgroundcontrol/libs/OpenSSL/android_openssl"]
	path = qgroundcontrol/libs/OpenSSL/android_openssl
	url = https://github.com/KDAB/android_openssl
[submodule "qgroundcontrol/libs/qmlglsink/gst-plugins-good"]
	path = qgroundcontrol/libs/qmlglsink/gst-plugins-good
	url = https://github.com/mavlink/gst-plugins-good.git
[submodule "qgroundcontrol/libs/xz-embedded"]
	path = qgroundcontrol/libs/xz-embedded
	url = https://github.com/Auterion/xz-embedded.git
[submodule "qgroundcontrol/libs/libevents/libevents"]
	path = qgroundcontrol/libs/libevents/libevents
	url = https://github.com/mavlink/libevents.git
[submodule "qgroundcontrol/libs/eigen"]
	path = qgroundcontrol/libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "qgroundcontrol/libs/qmdnsengine"]
	path = qgroundcontrol/libs/qmdnsengine
	url = https://github.com/patrickelectric/qmdnsengine
[submodule "qgroundcontrol/libs/shapelib"]
	path = qgroundcontrol/libs/shapelib
	url = https://github.com/OSGeo/shapelib.git
[submodule "qgroundcontrol/src/FirmwarePlugin/APM/ArduPilot-Parameter-Repository"]
	path = qgroundcontrol/src/FirmwarePlugin/APM/ArduPilot-Parameter-Repository
	url = https://github.com/ArduPilot/ArduPilot-Parameter-Repository
